/*#region-COMMON */
*{
    Margin:0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    Img{
    Max-width: 100%;
    Max-height: 100%;
}
/*#endregion-COMMON */

/*#region-HEADER */
.header{
/*     background-color: aqua; */
    padding: 1rem;
    background-color: #3161e0;
    font-size: small; 
}
.h_fl_logo{
    display: flex;
    justify-content: flex-start;


}
header .a{
    vertical-align: middle;
    
}

.anctag{
    padding-left: 1rem;
    color: white;
    text-decoration: none;
    align-content: center;
   
}

.h_fl_container> *{
/*     border: 1px dashed black; / * /* DEBUG-FEATURE!!! */
    padding: 0.20rem;
}

.sq_login{
    background-color: white;
    color: black;
    text-decoration: none;
     vertical-align: center;
    border-radius: 10rem;
    border:none;
    width: 4rem;
    height: 30px;
   

}


/* FLEX_HEADER */
.h_fl_container{
    display: flex;
    margin: auto;
/*     background-color: #ffd500; */
    width: 70%;
}

.h_fl_logo{
    width: 25%;
}

.h_fl_link{
    display: flex;
    justify-content: space-around;
    width: 60%;
    
    }

.h_fl_login{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    align-items: center;
 }
/*#endregion-HEADER */

 /*#region-MAIN*/

     /*#region-1ST CARD */


 .sect_1{
   /*  background-color: blue */
   background-image: url("../img/jumbo.png");
    display: flex;
    padding: 2rem;
    background-size: 100%;
    
}  
    
 .fl_1_sq{

    align-self: center;
    width: 50%;
    margin: auto;
   /*  border: 1px dashed black; /* DEBUG-FEATURE!!! */ 
    height: 20rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
 }

.card_1_title{
padding-top: 4rem;
font-size: 1.5rem
}
.card_1_text{
    padding-top: 4rem;
    font-size: small;
}
.card_1_buttons{
    padding-top: 1rem;
}





.open_button{
    background-color: white;
    color: black;
    text-decoration: none;
    vertical-align: center;
    border-radius: 10rem;
    border:none;
    height: 30px;
    padding:0 1rem 0 1rem;
    margin-left: 1rem;

}
.black{
    background-color: #23272a;
    color: white;
}





/*#endregion-1ST CARD */

    /*#region-2ND CARD */

 .sect_2{
  
    padding: 2rem;
    flex-direction: column;
    margin: auto;
 }

 .fl_2_sq{

    width: 70%;
    margin: auto;
   /*  border: 1px dashed black;*/
    height: 20rem;
   display: flex;
    
    
 }
 .main2{
    width: 70%;
/*     background-color: lightblue; */
/*    border: 1px dashed black;  */

 }


 .aside2{
    width: 30%;
    .card2_text{
        font-size: small;
        margin-top: 1rem;
    }
    h1{
        font-size: xx-large;
        padding-top: 1.5rem;
    }
    /* background-color: lightsalmon; */
   /*  border: 1px dashed black;  */   /* DEBUG-FEATURE!!! */
 }

/*#endregion-2ND CARD */

    /*#region-3RD CARD */

 .sect_3{
   
     padding: 2rem;
     flex-direction: column;
     background-color: lightgrey;
  }
 
  .fl_3_sq{
 
     width: 70%;
     margin: auto;
     /* border: 1px dashed black; */ /* DEBUG-FEATURE!!! */
     height: 20rem;
     display: flex;
     
  }
  .main3{
     width: 30%;
    /*  background-color: lightblue; */
    /*  border: 1px dashed black; */ /* DEBUG-FEATURE!!! */
    justify-content: flex-start;
    .card3_text{
        font-size: small;
        margin-top: 1rem;
    }

    h1{
        font-size: xx-large;
        padding-top: 1.5rem;
    }
    }

  .aside3{
     width: 70%;
     display: flex;
     justify-content: end;
     
     /* background-color: lightsalmon; */
     /* border: 1px dashed black; */ /* DEBUG-FEATURE!!! */
  }
/*#endregion-3RD CARD */

    /*#region-4TH CARD */

 .sect_4{
   
     padding: 2rem;
     flex-direction: column;
     
  }
 
  .fl_4_sq{
 
     width: 70%;
     margin: auto;
     /* border: 1px dashed black; */ /* DEBUG-FEATURE!!! */
     height: 20rem;

     display: flex;
     
  }
  .main4{
     width: 70%;
     /* background-color: lightblue; */
    /*  border: 1px dashed black; */ /* DEBUG-FEATURE!!! */
 
  }
  .aside4{
     width: 30%;
    
    
     h1{
         font-size: xx-large;
         padding-top: 1.5rem;
     }
     }

  .card4_text{
    font-size: small;
    margin-top: 1rem;
}
/*#endregion-4TH CARD */

    /*#region-5TH CARD */

.flex{
    display: flex;
    
}
 .sect_5{
    background-color: lightgrey;
    padding: 2rem;
}  
    
 .fl_5_sq{

    /* align-self: center; */
    /* background-color:green; */
    width: 70%;
    margin: auto;
    /* border: 1px dashed black;  */ /* DEBUG-FEATURE!!! */
 
 }
.main_title{
    justify-content: center;
    font-size: xx-large;
}
.technology_text{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    font-size: small;
    text-align: center;
}
.img_big{
    size: 3rem ;
    width: 100%;
    justify-content: center;
}

.star{
    justify-content: center;
    margin-bottom: 0;
}

.adventure{

    justify-content: center;
    padding-bottom: 2rem;
}

.card_5_button{
    justify-content: center;
}
.mac_button{
    background-color: #8ea1e1;
    color: black;
    text-decoration: none;
    border-radius: 10rem;
    border:none;
    height: 30px;
    padding:0 1rem 0 1rem;
    margin-left: 1rem;
}

/*#endregion-5TH CARD */

 /*#endregion-MAIN*/

/*#region-FOOTER */

    /*#region-FOOTER-UTILITY */
.button{
   /*  background-color: pink */
    border: 1px dashed black; /* DEBUG-FEATURE!!! */
     

}
hr{
    color: white;
}
.margin{
    margin-bottom: 1rem;
    
}

.footer{

    padding: 3rem 2rem 0rem 2rem;
    margin: auto;
    background-color: #23272a;
}
 /*#endregion-FOOTER-UTILITY */

    /*#region-1STCARD  */
  .foot_sect_1{
 
     width: 70%;
     margin: auto;
     height: 25rem;
     padding-bottom: 2rem;     
  }

  .foot_fl_sq{
    display: flex;
    height: 100%;
    margin-top: 0.25rem;
}

.small_text{
    font-size: smaller;
}


  .color_violet{
    color: #7289da;
  }

  .color_white{
        color: white;
  }

    ._1st_box{
     width: 40%;
        /*    background-color:lightsalmon; */
         /*      border: 1px dashed black; */ /* DEBUG-FEATURE!!! */

    }



     .flag{
        width: 2rem;
        vertical-align: middle;
        padding-right: 1rem;
        padding-top: 1rem;
     }
     
     

     .centred{
        vertical-align: middle;
     }
     .inline{
        display: inline-block;
     }

     .logo_layout{
        justify-content: start;
        padding-top: 2rem;
        
     }
     .lang{
        width: 20px;
        vertical-align: middle;
     }
    
 ._2nd_box{
     width: 15%;
     display: flex;
     flex-direction: column;
     
    
  }
  .white_text{

    font-size: small;
   
  }



  ._3rd_box{
    width: 15%;
    background-color: aquamarine;
    border: 1px dashed white; /* DEBUG-FEATURE!!! */
  }

  ._4th_box{
    width: 15%;
    background-color: aquamarine;
    border: 1px dashed white; /* DEBUG-FEATURE!!! */
  }
  ._5th_box{
    width: 15%;
    background-color: aquamarine;
    border: 1px dashed white; /* DEBUG-FEATURE!!! */
  }

/*#endregion-1ST CARD */

    /*#region-2NDCARD */
.foot_fl_container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-color: aquamarine;
    width: 70%;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.foot_fl_logo{
    justify-content: center;
    width: 3rem;
    background-color: pink;
    border: 1px dashed black; /* DEBUG-FEATURE!!! */
    display: flex;
}

.foot_fl_button{
    display: flex;
    justify-content: flex-end;
    width: 25%;

 }

/*#endregion-2NDCARD */

/*#endregion-FOOTER */
